{% extends 'basic.html' %}
{% block title %} About Us {% endblock %}

{% block css %}
.breadcrumbs-section{
    background-color:#e9ecef;
}
.abouttext{
    text-align:justify;
}
{% endblock %}


{% block body %}
{% load static %}

<!-- <section class="breadcrumbs-section">
    <div class="container p-1 p-sm-1">
        <div class="row">
            <div class="col-12">
                <h1>About Us </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
                    <li class="breadcrumb-item active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</section> -->


{% endblock %}