{% extends 'adminbasic.html' %}
{% block title %} Admin: View Booking{% endblock %}

{% block css %}
{% load static %}
body{
background:url('{% static 'viewbooking.jpg'%}') ;
background-size:cover;
}

table, th, td {
border: 5px solid black;
padding: 10px;
margin-top:50px;
margin-bottom:200px;
}

h1{
font-size:50px;
font-weight:bolder;
text-align:center;
margin:50px 0px 50px 0px;
}

{% endblock %}

{% block body %}
<div class="container">
    <h1>USER-BOOKINGS</h1>
<table width="100%" border="5px">
    <tr>
        <th>BOOKING NO.</th>
        <th>USERNAME</th>
        <th>HALLNAME</th>
        <th>BOOKED FOR</th>
        <th>TIMESLOT</th>
        <th>FOOD </th>
        <th>BILL </th>
        <th>BOOKING DONE ON</th>
    </tr>
{% for b in booking %}
    <tr>
      <td> {{b.id}}</td>
      <td> {{b.user}}</td>
       <td> {{b.booked_hall}}</td>
       <td> {{b.hall_date}}</td>
       <td> {{b.timeslot}}</td>
       <td>
           {{b.items_json}}
       </td>
       <td>Rs.{{b.bill}}/-</td>
       <td>{{b.timestamp}}</td>
    </tr>

{% endfor %}
</table>
</div>
{% endblock %}